## 02-1 데이터 집합 불러오기

### 데이터 분석의 시작은 데이터 불러오기부터

In [2]:
import pandas as pd
df = pd.read_csv('../data/gapminder.tsv', sep='\t')

![gapminder](../images/gapminder.jpeg)

### 시리즈와 데이터프레임

In [13]:
print(df.head())
print(type(df))
print(df.shape)
print(df.columns)
print(df.dtypes)
print(df.info())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
<class 'pandas.core.frame.DataFrame'>
(1704, 6)
Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')
country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

## 02-2 데이터 추출하기

### 열 단위 데이터 추출하기

In [20]:
country_df = df['country']
print(type(country_df))
print(country_df.head())
print(country_df.tail())

subset = df[['country', 'continent', 'year']]
print(type(subset))
print(subset.head())
print(subset.tail())

<class 'pandas.core.series.Series'>
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object
<class 'pandas.core.frame.DataFrame'>
       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

### 직접>loc 속성으로 행 데이터 추출하기

In [49]:
print(df.loc[0])
print(df.loc[0][0]) # loc는 series 반환 함. print로 보여주면 칼럼명이랑 같이 보여 줌
print(df.loc[0][1])
print(df.loc[99])

number_of_rows = df.shape[0]
last_row_index = number_of_rows - 1
print(df.loc[last_row_index])

print(df.tail(n=1))

print(df.loc[[0, 9, 99]])

subset_loc = df.loc[0]
subset_tail = df.tail(n=1)
print(type(subset_loc))
print(type(subset_tail))

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object
Afghanistan
Asia
country      Bangladesh
continent          Asia
year               1967
lifeExp          43.453
pop            62821884
gdpPercap    721.186086
Name: 99, dtype: object
country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object
       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298
        country continent  year  lifeExp       pop   gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333  779.445314
9   Afghanistan      Asia  1997   41.763  22227415  635.341351
99   Bangladesh      Asia  1967   43.453  62821884  721.186086
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

### 직접>iloc 속성으로 행 데이터 추출하기

In [45]:
# loc는 데이터프레임의 인덱스를 사용하여 데이터 추출(행 데이터의 추가, 삭제로 인덱스가 변할 수 있고, first같은 문자열도 사용 가능)
# iloc는 데이터 순서를 의미하는 행 번호를 사용하여 데이터 추출(무조건 정수이고, 인덱스랑 다름)

print(df.iloc[0])
print(df.iloc[-1])
print(df.iloc[[0, 99, 999]])
print(type(df.iloc[0]))
print(type(df.iloc[[9,1]]))

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object
country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object
         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

### loc, iloc 속성 자유자재로 사용하기

In [70]:
# loc[a[], b[]] # a에는 행이, b에는 열이 들어감. a,b는 문자열 가능
# iloc[a[], b[]] # a에는 행이, b에는 열이 들어감. a,b는 정수만 가능

subset = df.loc[:, ['year', 'pop']] # 열 중 원하는 문자열 넣어서, 모든 행의 해당 열 정보만 가져 옴
print(subset.head())

subset = df.iloc[:, [2, 4, -1]] # 열 중 원하는 열의 번호를 넣어서, 모든 행의 해당 열(번호로 조회) 정보만 가져 옴
print(subset.head())

small_range = list(range(5)) # range는 제너레이터를 만듬. list()로 list화 해줘야 함
print(type(small_range))
subset = df.iloc[:, small_range]
print(subset.head())
print(df.iloc[:, [3,4,5]].head())
print(df.iloc[:, range(0,6,2)].head()) # 0~5 중 2씩 증가 0, 2, 4

subset = df.iloc[:, :3] # list(range(0,3)) === :3
print(subset.head())
# print([:3]) # 얘는 왜 안되냐고;

subset = df.iloc[:, 0:6:2]
print(subset.head())

print(df.iloc[[0,99,999], [0,3,5]]) # 0, 99, 999번째 행의 0, 3, 5번째 열 데이터 추출
print(df.loc[[0,99,999], ['country', 'lifeExp', 'gdpPercap']]) # 어떤 데이터 추출했는지 바로 파악 가능

print(df.loc[10:13,['country', 'lifeExp', 'gdpPercap']])

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460
   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106
<class 'list'>
       country continent  year  lifeExp       pop
0  Afghanistan      Asia  1952   28.801   8425333
1  Afghanistan      Asia  1957   30.332   9240934
2  Afghanistan      Asia  1962   31.997  10267083
3  Afghanistan      Asia  1967   34.020  11537966
4  Afghanistan      Asia  1972   36.088  13079460
   lifeExp       pop   gdpPercap
0   28.801   8425333  779.445314
1   30.332   9240934  820.853030
2   31.997  10267083  853.100710
3   34.020  11537966  836.197138
4   36.088  13079460  739.981106
       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460
       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460
         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130
         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130
        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

## 02-3 기초적인 통계 계산하기